In [1]:
from ucimlrepo import fetch_ucirepo 
  
# fetch dataset 
breast_cancer_wisconsin_original = fetch_ucirepo(id=15) 
  
# data (as pandas dataframes) 
X = breast_cancer_wisconsin_original.data.features 
y = breast_cancer_wisconsin_original.data.targets 
  
# metadata 
print(breast_cancer_wisconsin_original.metadata) 
  
# variable information 
print(breast_cancer_wisconsin_original.variables)

{'uci_id': 15, 'name': 'Breast Cancer Wisconsin (Original)', 'repository_url': 'https://archive.ics.uci.edu/dataset/15/breast+cancer+wisconsin+original', 'data_url': 'https://archive.ics.uci.edu/static/public/15/data.csv', 'abstract': 'Original Wisconsin Breast Cancer Database', 'area': 'Health and Medicine', 'tasks': ['Classification'], 'characteristics': ['Multivariate'], 'num_instances': 699, 'num_features': 9, 'feature_types': ['Integer'], 'demographics': [], 'target_col': ['Class'], 'index_col': ['Sample_code_number'], 'has_missing_values': 'yes', 'missing_values_symbol': 'NaN', 'year_of_dataset_creation': 1990, 'last_updated': 'Fri Nov 03 2023', 'dataset_doi': '10.24432/C5HP4Z', 'creators': ['WIlliam Wolberg'], 'intro_paper': None, 'additional_info': {'summary': "Samples arrive periodically as Dr. Wolberg reports his clinical cases. The database therefore reflects this chronological grouping of the data. This grouping information appears immediately below, having been removed from the data itself:\r\n\r\nGroup 1: 367 instances (January 1989)\r\nGroup 2:  70 instances (October 1989)\r\nGroup 3:  31 instances (February 1990)\r\nGroup 4:  17 instances (April 1990)\r\nGroup 5:  48 instances (August 1990)\r\nGroup 6:  49 instances (Updated January 1991)\r\nGroup 7:  31 instances (June 1991)\r\nGroup 8:  86 instances (November 1991)\r\n-----------------------------------------\r\nTotal:   699 points (as of the donated datbase on 15 July 1992)\r\n\r\nNote that the results summarized above in Past Usage refer to a dataset of size 369, while Group 1 has only 367 instances.  This is because it originally contained 369 instances; 2 were removed.  The following statements summarizes changes to the original Group 1's set of data:\r\n\r\n#####  Group 1 : 367 points: 200B 167M (January 1989)\r\n\r\n#####  Revised Jan 10, 1991: Replaced zero bare nuclei in 1080185 & 1187805\r\n\r\n#####  Revised Nov 22,1991: Removed 765878,4,5,9,7,10,10,10,3,8,1 no record\r\n#####                  : Removed 484201,2,7,8,8,4,3,10,3,4,1 zero epithelial\r\n#####                  : Changed 0 to 1 in field 6 of sample 1219406\r\n#####                  : Changed 0 to 1 in field 8 of following sample:\r\n#####                  : 1182404,2,3,1,1,1,2,0,1,1,1", 'purpose': None, 'funded_by': None, 'instances_represent': None, 'recommended_data_splits': None, 'sensitive_data': None, 'preprocessing_description': None, 'variable_info': '1. Sample code number:            id number\r\n2. Clump Thickness:               1 - 10\r\n3. Uniformity of Cell Size:       1 - 10\r\n4. Uniformity of Cell Shape:      1 - 10\r\n5. Marginal Adhesion:             1 - 10\r\n6. Single Epithelial Cell Size:   1 - 10\r\n7. Bare Nuclei:                   1 - 10\r\n8. Bland Chromatin:               1 - 10\r\n9. Normal Nucleoli:               1 - 10\r\n10. Mitoses:                       1 - 10\r\n11. Class:                        (2 for benign, 4 for malignant)', 'citation': None}}
                           name     role         type demographic  \
0            Sample_code_number       ID  Categorical        None
1               Clump_thickness  Feature      Integer        None
2       Uniformity_of_cell_size  Feature      Integer        None
3      Uniformity_of_cell_shape  Feature      Integer        None
4             Marginal_adhesion  Feature      Integer        None
5   Single_epithelial_cell_size  Feature      Integer        None
6                   Bare_nuclei  Feature      Integer        None
7               Bland_chromatin  Feature      Integer        None
8               Normal_nucleoli  Feature      Integer        None
9                       Mitoses  Feature      Integer        None
10                        Class   Target       Binary        None

                  description units missing_values
0                        None  None             no
1                        None  None             no
2                        None  None             no
3                        None  None             no
4                        None  None             no
5                        None  None             no
6                        None  None            yes
7                        None  None             no
8                        None  None             no
9                        None  None             no
10  2 = benign, 4 = malignant  None             no

In [2]:
X

,Clump_thickness,Uniformity_of_cell_size,Uniformity_of_cell_shape,Marginal_adhesion,Single_epithelial_cell_size,Bare_nuclei,Bland_chromatin,Normal_nucleoli,Mitoses
0,5,1,1,1,2,1.0,3,1,1
1,5,4,4,5,7,10.0,3,2,1
2,3,1,1,1,2,2.0,3,1,1
3,6,8,8,1,3,4.0,3,7,1
4,4,1,1,3,2,1.0,3,1,1
...,...,...,...,...,...,...,...,...,...
694,3,1,1,1,3,2.0,1,1,1
695,2,1,1,1,2,1.0,1,1,1
696,5,10,10,3,7,3.0,8,10,2
697,4,8,6,4,3,4.0,10,6,1
698,4,8,8,5,4,5.0,10,4,1

In [4]:
y

     Class
0        2
1        2
2        2
3        2
4        2
..     ...
694      2
695      2
696      4
697      4
698      4

[699 rows x 1 columns]

In [5]:
import pandas as pd
X["Class"]=y

/tmp/ipykernel_8615/546307582.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X["Class"]=y

In [7]:
X["Class"].isna().sum()

0

In [ ]:
X.to_csv("data_raw.csv",index=False)